<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1>Hi <%= @invitation.email %></h1>
    <p>
        pleas comppletly signup registration to join the group.
    </p>
</body>

</html>