<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <p>You got a new invitation from Teamwork Team!</p>
    <p>ivitaion details<br>
        --------------------------
    </p>
    <p>Name: <%= @invitation.email %></p>
    <p>Message:<br>
        please continue register to join group in teamwork
        click this url <url> to signup
    </p>
</body>

</html>